.text-animate {
	display: inline-block;
	opacity: 0;
	animation: bounceIn 0.5s 1s;
	animation-fill-mode: forwards;
	min-width: 10px;
}

.text-animate-hover {
	min-width: 10px;
	display: inline-block;
	animation-fill-mode: both;

	&:hover {
		animation: rubberBand 1s;
		color: #07bcf9;
	}
}

@for $index from 1 through 35 {
	.text-animate._#{$index} {
		animation-delay: #{$index / 10}s;
		// animation-delay: calc($index / 10) s;
	}
}
