.portfolio-page {
  position: initial;
  padding-left: 100px;
  padding-right: 50px;
  width: calc(100% - 150px);
  height: 100%;
  overflow: auto;
  margin: 0 auto;

  h1.page-title {
    margin-left: 100px;
    margin-top: 100px;
  }
}

@media screen and (max-width: 1200px) {
  .container.portfolio-page {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;

    h1.page-title {
      margin-left: 10rem;
      margin-top: 6rem;
    }
  }
}

@media screen and (max-width: 700px) {
  .container.portfolio-page {
    h1.page-title {
      margin-left: 3rem;
      margin-top: 1rem;
    }
  }
}
